
  <div style="text-align:center">
    <nav  class="navbar navbar-light" style="background-color: #fcfcfc;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img  [width]="100" [height]="100" src="https://media-exp2.licdn.com/dms/image/C560BAQEcz6YcGmkvxQ/company-logo_200_200/0/1571950734162?e=2147483647&v=beta&t=J91xKmSgw-Z2SMURL169OD5NRGwm_JeBGBFjlJpdsow" alt="" width="30" height="24" class="d-inline-block align-text-top">
          </a>
          <h1 style="position: initial; margin-right: auto;">Crud It Team for Oscar Morales</h1>
          <a style="font-size: 1.5em;" onclick="href='https://oscar-morales.herokuapp.com '"target="_blank" type="button" class="btn btn-outline-secondary" >Portfolio</a>
        </div>
    </nav>
  </div>
<div class="card" style="width: 58rem; margin-top: 30px; position: initial; margin-left: auto;margin-right: auto;" >
  <div style="margin-top: 20px; margin-bottom: 20px;" class="container">
    <button  (click)="Listar()" class="btn" style="background-color: #1b8cce;color: aqua;font-weight: 500;">Listar</button>
    <button  (click)="Nuevo()" class="btn" style="background-color: #1b8cce;color: aqua;margin-left: 5px;font-weight: 500;">Nuevo</button>
  </div>


  <router-outlet></router-outlet>
</div>


